body,
html {
  font-family: "Raleway", Roboto, sans-serif;
}
* {
  box-sizing: border-box;
  background-color: #212121;
}
.heading {
  display: flex;
  justify-content: center;
  background: -webkit-linear-gradient(#e81cff, #40c9ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.add_new_button {
  width: fit-content;
  display: flex;
  padding: 1em 1.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  background: linear-gradient(171deg, #e81cff 0%, #40c9ff 100%);
  background-size: 300%;
  color: #fff;
  border: none;
  background-position: left center;
  font-family: inherit;
  font-size: 12px;
}
